<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to check weather at your place!</p>


        <form>
            <input placeholder="Location" />
            <button>Search</button>
        </form>

        <div style="display: flex; font-family: candara">
            <div>
                <img style="margin-top: 14px; border-radius: 5px;" id="weather-img" />
            </div>
            <div style="margin-left: 16px">
                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="./js/app.js">    </script>
</body>

</html>